.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow:row wrap;
    align-items:center;
    padding: 1rem;
    position: relative;
}

.loading{
    text-align: center;
    line-height: 457px;
}