body{
    background: #d9d9d9;
}

.container{
    width: 270.19px;
    border-radius: 5%;
    overflow: hidden;
    text-align: center;
    border: 1px solid #424242;
    margin-top: 10px;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.svg{
    width: 10%;
}

.img{
    width: 100%;
    
}

.desc{
    
    padding: 1rem;
}