.container{
    width: 100%;
    height: 90px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.options{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}


@media screen and (max-width:1100px){
    .options{
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
} 



.cartItemCounts{
    background: rgb(245, 76, 76);
    color: rgb(236, 236, 236);
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    border-radius: 50%;
    display: inline-block;
}


.option{
    text-decoration: none;
    cursor: pointer;
    color: #424242;
}

.title{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.logo{
    width: 50px;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    transform: translate(0 , -9.295px);
}

.inTitle{
    color: #424242
}

.searchbox{
    width: 20%;
    position: absolute;
    transform: translate(-400px , 0);
    border-radius: 5px;
    border: 1px solid;
}

.searchbox > .innerSearch{
    width: 60%;
    height: 34px;
    border: none;
    
}

.innerSearch::placeholder{
    padding-right: 5px;
    color: #424242;
    
}

.searchbutton{
  display: inline-block;
  width: 20%;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}

.searchbuttonColor{
    color: #029a49;
}

.resetbuttonColor{
    color:rgb(238, 62, 62)
}

.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 8%;
    cursor: pointer;
    
}



.line{
    width: 80%;
    height: 2px;
    background: black;
    transform-origin: 0% 0%;
    transition: all .5s ease;
}

.line1active
{
    transform: rotate(45deg);
}

.line2active
{
    transition: 0s;
    visibility: hidden;
    opacity: 0;
}

.line3active
{
    transform: rotate(-45deg);
}

.cats{
    width: 100%;
    min-height: 100%;
    position: absolute;
    margin-left: 10px ;
    top: 100%;
    right: 0;
    background: rgb(223, 36, 87);
    padding-right: 30px;
    transition: .5s;
    color: rgb(236, 236, 236);
    border-radius: 5px;
}
